{% extends "layout.html" %}
{% block title %}
Welcome to Digital Marketing Page!
{% endblock %}
{% block content %}
<pre style="color: white; font-size: inherit; display: block; visibility: visible;">
    <h1>About Page</h1>
    <h2>Inspiration Behind My Project: Empowering African Youths through 
        Online Learning</h2>
    <p>
        Growing up in Africa, I witnessed firsthand the challenges faced by many young people in accessing
        quality education. Limited resources, inadequate infrastructure, and socio-economic barriers ofte
        n hindered their ability to pursue their dreams. It was this reality that ignited a passion withi
        n me to make a difference, to break down these barriers and provide opportunities for learning th
        at are accessible to all.

        As I embarked on my journey into the world of technology and web development, I found myself drawn
        to projects that could make a tangible impact on the lives of others. This led me to the idea of 
        developing an online learning management system, a platform that could transcend geographical bou
        ndaries and provide educational resources to anyone with an internet connection.

        The decision to undertake this project was not merely because it was a requirement for Holberton S
        chool; rather, it stemmed from a deeply personal desire to contribute to the betterment of my comm
        unity and beyond. Knowing that education is the key to unlocking countless opportunities, I felt c
        ompelled to leverage my skills and knowledge to create something meaningful.

        Moreover, my passion for helping youths in Africa served as a driving force behind this endeavor. 
        I firmly believe that every individual deserves access to quality education, regardless of their b
        ackground or circumstances. By offering learning websites for free, I aim to level the playing fie
        ld and empower young people to pursue their aspirations with confidence and determination.

        The timeline for this project reflects the dedication and effort I have invested in bringing this 
        vision to fruition. From conceptualization to execution, each step has been guided by a sense of p
        urpose and a commitment to making a difference. This project is not just a requirement; it is a te
        stament to my values and aspirations as a developer and a humanitarian.

        In conclusion, this Portfolio Project for Holberton School is more than just a technical exercise;
        it is a reflection of my passion for education, my dedication to serving others, and my belief in
        the transformative power of technology. I invite you to explore the project further here, and jo
        in me in building a brighter future for the next generation of African youths.
    </p>
    <h3>Let's Connect</h3>
    <li>
        <a href="https://github.com/Ermi24et/Olms">Github</a>
        <a href="https://www.linkedin.com/in/Ermi24et">Linkedln</a>
        <a href="https://twitter.com/Ermi24et">Twitter</a>
    <li>
</pre>
{% endblock %}